html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100px;
}

@font-face {
    font-family: 'hospitaleteregular';
    src: url("./hospitalete-webfont.woff2") format('woff2'),
    url("./hospitalete-webfont.woff") format('woff');
}

* {
    font-family: 'hospitaleteregular', sans-serif;
}

.image {
    width: 100vw;
    height: 100vh;
    background-image: url("https://cdn.discordapp.com/attachments/1028957816993632267/1031250066167562350/sketch-1629738152532_-_Copie.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
}

.side {
    height: 100vh;
    width: 320px;
    float: right;
    background-color: black;
    color: white;
    position: relative;
    overflow: auto;
}

.title {
    color: white;
    margin: 0 0 0;
    text-align: center;
    font-size: 100px;
}

.nav-button {
    background: none;
    font-size: 80px;
    max-width: 270px;
    padding-top: 10px;
    cursor: pointer;
    color: white
}

input {
    font-size: 80px;
    max-width: 270px;
    padding-top: 10px;
}

#terms, #regToLog {
    font-size: 30px;
    max-width: 270px;
    padding: 10px 6px 1px 0;
    text-decoration: none;
    color: white;
}

.menu {
    padding-left: 20px;
    padding-top: 10px;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}
#flexForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#div2 {
    font-size: 30px;
    display: flex;
    flex-direction: row;
}
.alert{
    background: red;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid darkred;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}
.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}
.alert.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.alert.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
.alert .msg {
    padding: 0 20px;
    font-size: 60px;
    color: darkred;
}

.leaderboard {
    background-color: black;
    margin-inline: 25%;
    height: 100%;
}

.leaderboard-table {
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.table-head {
    padding-inline: 50px;
    color: white;
}

.table-data {
    color: white;
}

.back-button {
    background: none;
    font-size: 80px;
    max-width: 270px;
    padding-top: 10px;
    cursor: pointer;
    color: white;
    float: right;
    padding-right: 20px;
}

.no-entries {
    color: white;
    margin-block: 40px;
    text-align: center;
    font-size: 100px;
}

.credits {
    margin-inline: 25%;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
    overflow: auto;
}

.title-bis {
    margin: 0 0 0 0;
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.list {
    margin: 20px 0 30px 0;
    list-style: none;
}
